<li class="nav-item active">
  <button (click)="openModalWindow(template)" type="button"
          class="nav-link btn text-light text-uppercase font-weight-bold">New Task
  </button>
</li>
<!--ModalWindow Template -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New Task</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="closeModalWindow()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <mat-form-field class="modal-width mt-3">
      <input matInput type="text" placeholder="Project" [formControl]="projectCodeControl" required
             [matAutocomplete]="auto1">
      <mat-autocomplete #auto1="matAutocomplete">
        <mat-option *ngFor="let projectCode of projects" [value]="projectCode.projectCode">
          {{projectCode.projectCode}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="(projectCodeControl.untouched || projectCodeControl.dirty)">
        Choose from the list <strong>below</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="modal-width mt-3">
      <input matInput placeholder="Identity" name="taskIdentity" [(ngModel)]="editableTask.taskIdentity"
             #taskIdentity="ngModel" required/>
      <mat-error *ngIf="taskIdentity.hasError('required')">
        Task Identity is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="modal-width mt-3">
      <input matInput type="text" placeholder="Priority" [formControl]="priorityControl" [matAutocomplete]="auto2" required>
      <mat-autocomplete #auto2="matAutocomplete">
        <mat-option *ngFor="let priorityName of priorities" [value]="priorityName">
          {{priorityName}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="priorityControl.untouched || priorityControl.dirty">
        Choose from the list <strong>below</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="modal-width mt-3">
      <input matInput placeholder="Due Date" name="dueDate" [(ngModel)]="editableTask.dueDate"
             [min]="min" [max]="max" #dueDate="ngModel"
             [owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1"/>
      <owl-date-time  #dtPicker1 pattern="(([1-9]|0[1-9]|1[0-2])\/([0-9]|0[1-9]|[12]\d|3[01])\/[12]\d{3}, (0[0-9]|1[0-9]|2[0-3]|[0-9]):[0-5][0-9])"></owl-date-time>
    </mat-form-field>
    <mat-error *ngIf="(dueDate.untouched || dueDate.dirty) && dueDate.invalid && dueDate.errors.owlDateTimeMin">
      Date Time value must after {{min | date: 'medium'}}
    </mat-error>
    <mat-error *ngIf="(dueDate.untouched || dueDate.dirty) && dueDate.invalid && dueDate.errors.owlDateTimeMax">
      Date Time value must before {{max | date: 'medium'}}
    </mat-error>

    <mat-form-field class="modal-width mt-3">
      <input matInput placeholder="Estimation Date" name="estimationDate" [(ngModel)]="editableTask.estimation"
             [min]="min" [max]="max" #estimation="ngModel"
             [owlDateTimeTrigger]="dtPicker2" [owlDateTime]="dtPicker2"/>
      <owl-date-time  #dtPicker2 pattern="(([1-9]|0[1-9]|1[0-2])\/([0-9]|0[1-9]|[12]\d|3[01])\/[12]\d{3}, (0[0-9]|1[0-9]|2[0-3]|[0-9]):[0-5][0-9])"></owl-date-time>
    </mat-form-field>
    <mat-error *ngIf="(estimation.untouched || estimation.dirty) && estimation.invalid && estimation.errors.owlDateTimeMin">
      Date Time value must after {{min | date: 'medium'}}
    </mat-error>
    <mat-form-field class="modal-width mt-3">
      <input matInput placeholder="Assignee" name="assignee" [(ngModel)]="editableTask.assignee"/>
    </mat-form-field>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="addTask()"
            [disabled]="projectCodeControl.invalid || priorityControl.invalid || taskIdentity.invalid || dueDate.invalid || estimation.invalid">Save
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModalWindow()">Close</button>
  </div>
</ng-template>
