<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="h3 text-light text-uppercase font-weight-bold">TASK MANAGER</div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <app-new-project></app-new-project>
      <app-new-task></app-new-task>
      <app-new-user></app-new-user>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input [formControl]="taskIdentityControl"   class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button (click)="searchTasks(taskIdentityControl.value)" class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
