<app-task-navbar></app-task-navbar>
<div class="row mx-0">
  <div class="col-5">
    <div class="row mx-0">
      <div class="col-12">
        <h5>Description</h5>
        <div class="row m-0">
          <div class="col">

            <div [formGroup]="taskForm" class="form-group">
                <textarea formControlName="descriptionForm"  class="form-control rounded-0 center-block text-center" cols="65" rows="5"
                          style="resize: none;"> {{task.description}}</textarea>
            </div>

          </div>
        </div>
      </div>
      <div class="col-12">
        <h5>Attachments</h5>
        <div class="row mx-0">
          <div *ngFor="let attachment of task.attachments" class="col-6">
            <a (click)="getImage(attachment)" >{{attachment}}</a>
          </div>
        </div>
        <img *ngIf="image!=undefined" class="mt-2 mb-2" [src]="'data:image/jpg;base64,' + image" alt="some">


        <div class="col">
          <!--<input class="btn btn-outline-dark btn-sm mt-1" type="file" id="file" (change)="selectFile($event)" #file>-->
          <input (change)="selectFile($event)" type="file" id="file"/>
          <label for="file" class="btn-2">upload</label>
        </div>
        <p *ngIf="selectedFiles!=undefined">selected file <strong>{{selectedFiles.item(0).name}}</strong></p>
        <button (click)="uploadFile()"  type="button" class="btn btn-outline-dark btn-sm mt-1">Add Attachment</button>
        <br>
        <button (click)="image=undefined"  type="button" class="btn btn-outline-dark btn-sm mt-1">Hide File</button>
      </div>

      <div  class="col-12">
        <h5>Comments</h5>
        <div class="row mx-0">
          <div class="col-12">
              <textarea [disabled]="true" class="form-control rounded-0 center-block text-left" cols="65" rows="5"
                        style="resize: none;">TODO COMMENTS</textarea>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-dark btn-sm mt-1">Add Comment</button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-1 mx-0 p-0" style="border-right:solid 2px grey"></div>
  <div class="col-1 mx-0 p-0"></div>
  <div class="col-5">
    <div class="row mx-0">
      <div class="col-12">
        <h5>Details</h5>

          <div class="form-group row">
            <label for="colFormLabelsm" class="col-sm-2 col-form-label col-form-label-sm mr-5">Priority</label>
            <div [formGroup]="taskForm" class="col-sm-6">
              <input formControlName="priorityForm" type="text" class="form-control form-control-sm" id="colFormLabelsm"
                     value="{{task.priority}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="colFormLabelsm" class="col-sm-2 col-form-label col-form-label-sm mr-5">Status</label>
            <!--<div [formGroup]="taskForm" class="col-sm-6">-->
              <!--<select [(ngModel)]="task.status" formControlName="statusForm" name="status" class="form-control form-control-sm" >-->
                <!--<option *ngFor="let status of statuses" [ngValue]="status.status">{{status.status}}</option>-->
              <!--</select>-->
            <!--</div>-->
            <div class="col-sm-6">
              <input disabled type="text" class="form-control form-control-sm"
                     value="{{task.status}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="colFormLabelsm" class="col-sm-2 col-form-label col-form-label-sm mr-5">Asignee</label>
            <div class="col-sm-6">
              <input disabled type="text" class="form-control form-control-sm"
                     value="{{task.assignee}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="colFormLabelsm" class="col-sm-2 col-form-label col-form-label-sm mr-5">Reporter</label>
            <div class="col-sm-6">
              <input disabled type="text" class="form-control form-control-sm"
                     value="{{task.reporter}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="colFormLabelsm" class="col-sm-2 col-form-label col-form-label-sm mr-5">Estimation</label>
            <div [formGroup]="taskForm" class="col-sm-6">
              <input formControlName="estimationForm" type="text" class="form-control form-control-sm"
                     value="{{task.estimation}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="colFormLabelsm" class="col-sm-2 col-form-label col-form-label-sm mr-5">Created</label>
            <div class="col-sm-6">
              <input disabled type="text" class="form-control form-control-sm"
                     value="{{task.created}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="colFormLabelsm" class="col-sm-2 col-form-label col-form-label-sm mr-5">Updated</label>
            <div class="col-sm-6">
              <input disabled type="text" class="form-control form-control-sm"
                     value="{{task.updated}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="colFormLabelsm" class="col-sm-2 col-form-label col-form-label-sm mr-5">Resolved</label>
            <div class="col-sm-6">
              <input disabled type="text" class="form-control form-control-sm"
                     value="{{task.resolved}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="colFormLabelsm" class="col-sm-2 col-form-label col-form-label-sm mr-5">Closed</label>
            <div class="col-sm-6">
              <input disabled type="text" class="form-control form-control-sm"
                     value="{{task.closed}}">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-5"></div>
    <div class="mt-2 col-3"><button [disabled]="isDisabled" type="button" class="submit-button btn btn-outline-dark btn-sm mt-1">Submit</button>
    </div>
</div>

