<div class="main">
  <table class="mt-2 table table-hover" >
    <thead class="bg-dark">
    <tr>
      <th>Project Code</th>
      <th>Task Identity</th>
      <th>Priority</th>
      <th>UserStatus</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Due Date</th>
      <th>Estimation</th>
      <th>Assignee</th>
    </tr>
    </thead>
    <tbody>
    <tr class="mt-2" *ngFor="let task of tasks">
      <td scope="row">{{task.projectCode}}</td>
      <td><a [routerLink]="['/tasks', task.id]">{{task.taskIdentity}}</a></td>
      <td>{{task.priority.toUpperCase()}}</td>
      <td>{{task.status.toUpperCase()}}</td>
      <td>{{task.created.toUpperCase()}}</td>
      <td>{{task.updated.toUpperCase()}}</td>
      <td>{{task.dueDate.toUpperCase()}}</td>
      <td>{{task.estimation.toUpperCase()}}</td>
      <td>{{task.assignee}}</td>
</tr>
</tbody>
</table>
</div>
