<li class="nav-item active">
  <button (click)="openModalWindowProject(templateProject, editableProject)" type="button"
          class="nav-link btn text-light text-uppercase font-weight-bold">New Project
  </button>
</li>


<!--ModalWindow Template -->
<ng-template #templateProject>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New Project</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="closeModalWindow()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Project code</label>
      <input class="form-control" name="code" [(ngModel)]="editableProject.projectCode" #code="ngModel" required/>

    </div>
    <div class="form-group">
      <label>Summary</label>
      <input class="form-control" name="summary" [(ngModel)]="editableProject.summary" #summary="ngModel"/>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="addProject()">Save
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModalWindow()">Close</button>
  </div>
</ng-template>
