<div class="row mx-0">
  <div class="col-5"></div>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link"  aria-label="Previous"  (click)="loadPageableTasks(currentPage-1)">
          <span aria-hidden="true" class="text-dark">&laquo;</span>
          <span class="sr-only" >Previous</span>
        </a>
      </li>

      <li *ngFor='let page of totalPagesArr' class="page-item">
        <a class="page-link text-dark" (click)="loadPageableTasks(page)" [class.active]="page==currentPage" >{{page}}</a>
      </li>
      <li  class="page-item">
        <a class="page-link" (click)="loadPageableTasks(currentPage+1)">
          <span aria-hidden="true" class="text-dark">&raquo;</span>
          <span class="sr-only" >Next</span>
        </a>
      </li>
    </ul>
    Number of Tasks on page
    <nav class="pl-3" aria-label=" Page navigation example">
      <ul class="pagination">
        <li *ngFor="let taskonpage of tasksOnPage" class="page-item">
          <a [class.active]="taskonpage==currentTasksOnPage"  (click)="updateCurrentTasksOnPage(taskonpage)" class="page-link">{{taskonpage}}</a>
        </li>
      </ul>
    </nav>
  </nav>
</div>

