<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="h3 text-light text-uppercase font-weight-bold">Description</div>
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">

        <button (click)="editTask()" type="button" class="nav-link btn text-light text-uppercase font-weight-bold">Edit</button>
      </li>
      <li class="nav-item">
        <button (click)="openModalWindow(template)" type="button" class="nav-link btn text-light text-uppercase font-weight-bold">Assign</button>
      </li>

      <li class="nav-item">
        <button (click)="updateStatus('IN PROGRESS')" type="button" class="nav-link btn text-light text-uppercase font-weight-bold">Start</button>
      </li>
      <li class="nav-item">
        <button (click)="updateStatus('RESOLVED')" type="button" class="nav-link btn text-light text-uppercase font-weight-bold">Resolve</button>
      </li>
      <li class="nav-item">
        <button (click)="updateStatus('READY FOR TEST')" type="button" class="nav-link btn text-light text-uppercase font-weight-bold">Ready for test</button>
      </li>
      <li class="nav-item">
        <button (click)="updateStatus('OPENED')" type="button" class="nav-link btn text-light text-uppercase font-weight-bold">Reopen</button>
      </li>
      <li class="nav-item">
        <button (click)="updateStatus('CLOSED')" type="button" class="nav-link btn text-light text-uppercase font-weight-bold">Close</button>
      </li>
    </ul>
  </div>
</nav>
<!--ModalWindow Template -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Assign person</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="closeModalWindow()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Assignee</label>
      <input class="form-control" name="dueDate" [(ngModel)]="comp.task.assignee" #asignee="ngModel" required/>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="modifyTask(asignee)">Save
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModalWindow()">Close</button>
  </div>
</ng-template>

