<div class="row col-sm-6" style="max-width:350px;">
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
             required/>
      <div *ngIf="f.submitted && username.invalid">
        <div *ngIf="username.errors.required">Username is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
             required minlength="4"/>
      <div *ngIf="f.submitted && password.invalid">
        <div *ngIf="password.errors.required">Password is required</div>
        <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Login</button>
      <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
        Login failed: {{errorMessage}}
      </div>
    </div>
  </form>
  <hr/>
  <p>Don't have an account?</p>
  <a href="signup" class="btn btn-success">Sign Up</a>
</div>

<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="span12">-->
      <!--<form class="form-horizontal" action='' method="POST">-->
        <!--<fieldset>-->
          <!--<div id="legend">-->
            <!--<legend class="">Login</legend>-->
          <!--</div>-->
          <!--<div class="control-group">-->
            <!--&lt;!&ndash; Username &ndash;&gt;-->
            <!--<label class="control-label"  for="username">Username</label>-->
            <!--<div class="controls">-->
              <!--<input type="text" id="username" name="username" placeholder="" class="input-xlarge">-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="control-group">-->
            <!--&lt;!&ndash; Password&ndash;&gt;-->
            <!--<label class="control-label" for="password">Password</label>-->
            <!--<div class="controls">-->
              <!--<input type="password" id="password" name="password" placeholder="" class="input-xlarge">-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="control-group">-->
            <!--&lt;!&ndash; Button &ndash;&gt;-->
            <!--<div class="controls">-->
              <!--<button class="btn btn-success">Login</button>-->
            <!--</div>-->
          <!--</div>-->
        <!--</fieldset>-->
      <!--</form>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
